.sidebar {
    width: 15%;
    background-color: #242424;
    color: #fff;
    padding: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100px;
}

.sidebar li {
    margin: 0.5rem 0;
    color: lightgray;
}

.sidebar li.active a {
    font-weight: bold;
    color: mediumvioletred;
}

.sidebar li a {
    color: #fff;
    text-decoration: none;
}